@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Butler";
    src: url("assets/font/Butler-UltraLight.woff2") format("woff2"),
      url("assets/font/Butler-UltraLight.woff") format("woff");
    font-weight: 200;
    font-style: normal;
  }

  @font-face {
    font-family: "Butler";
    src: url("assets/font/Butler-Medium.woff2") format("woff2"),
      url("assets/font/Butler-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "Butler";
    src: url("assets/font/Butler-Light.woff2") format("woff2"),
      url("assets/font/Butler-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: "Butler";
    src: url("assets/font/Butler-Black.woff2") format("woff2"),
      url("assets/font/Butler-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
  }

  @font-face {
    font-family: "Butler";
    src: url("assets/font/Butler-Bold.woff2") format("woff2"),
      url("assets/font/Butler-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: "Butler";
    src: url("assets/font/Butler-ExtraBold.woff2") format("woff2"),
      url("assets/font/Butler-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
  }

  @font-face {
    font-family: "Butler";
    src: url("assets/font/Butler.woff2") format("woff2"),
      url("assets/font/Butler.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Butler', sans;
    color: #e5e5e5;
}
